img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 500px) {
  .media-object-container {
    display: grid;
    grid-template-columns: fit-content(200px) 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "area-media area-object" "area-media area-footer";
    grid-gap: 20px;
    margin-bottom: 0;
  }
  .media-flip {
    grid-template-columns: 1fr fit-content(250px);
    grid-template-areas: "area-object area-media" "area-footer area-media";
  }
  .media-object__media {
    grid-area: area-media;
  }
  .media-object__object {
    grid-area: area-object;
  }
}

li.cpl-flex--mini__item-name {
  margin: 10px 0;
  line-height: 1.3;
	text-transform: capitalize;
	list-style-type: none;
	font-weight: var(--font-weight-bold);
	font-size: var(--wp--preset--font-size--xxx-large);
}

.wp-block-cpl-aspen-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.media-object-container {
  background: #fff;
  border-radius: 6px;
  border-right: 10px solid #0057B7;
}

.media-object__media {
  position: relative;
  width: 150px;
  height: 100%;
  overflow: hidden;
}

.media-object__media img {
     object-fit: contain;
  width: 100%;
  height: 100%;
     object-position: center;
}

.media-object__object .wp-block-button {
  margin-top: 20px !important;
}

.wp-block-button a {
  background: #F1C400;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0 !important;
}

.wp-block-button a:hover {
  background: #f6d64b;
  color: #000;
}

@media (max-width: 979px) {
  .media-object-container {
    grid-gap: 5px;
    border-right: none;
    border-bottom: 10px solid #0057B7;
  }
  .wp-block-cpl-aspen-list {
    grid-template-columns: 1fr;
  }
  .media-object__media {
    height: 225px;
    width: 100%;
  }
  .media-object__object {
    padding: 15px 5px 15px 15px;
  }
  li.cpl-flex--mini__item-name {
    margin-top: 0;
  }
}
